@{
    ViewData["Title"] = "Home Page";
}

<h1>Calc Service Demonstration</h1>
<ul>
    <li><a class="nav-link"  asp-controller="Calculator" asp-action="UsingModelCalc">Using Model Calc</a></li>
    <li><a class="nav-link"  asp-controller="Calculator" asp-action="UsingViewDataCalc">Using ViewData Calc</a></li>
    <li><a class="nav-link"  asp-controller="Calculator" asp-action="UsingViewBagCalc">Using ViewBag Calc</a></li>
    <li><a class="nav-link"  asp-controller="Calculator" asp-action="AccessServiceDirectly">Using Service Injection Calc</a></li>
</ul>
