@using _932021.abrosimova.margarita.lab11
@inject ICalculatorDataService CalculatorDataService
@{
    var СalculatorDataModel = CalculatorDataService.dataModel;
}

<h1>AccesServiceDirectly</h1>
<div>
    <b>
        Rand Value First: @СalculatorDataModel.FirstValue<br>
        Rand Value Second: @СalculatorDataModel.SecondValue<br>
    </b>

    <b>Add :</b><br>
    @СalculatorDataModel.FirstValue + @СalculatorDataModel.SecondValue = @СalculatorDataModel.addition<br>

    <b>Sub :</b><br>
    @СalculatorDataModel.FirstValue - @СalculatorDataModel.SecondValue = @СalculatorDataModel.subtraction<br>

    <b>Mult :</b><br>
    @СalculatorDataModel.FirstValue * @СalculatorDataModel.SecondValue = @СalculatorDataModel.multiplication<br>

    <b>Div :</b><br>
    @СalculatorDataModel.FirstValue / @СalculatorDataModel.SecondValue = @СalculatorDataModel.division<br>
</div>